# Dependencies
node_modules/

# Environment variables
.env

# IDE
.vscode/

# Build outputs
build/
dist/

# Configuration
eslint.config.js

# Static files
public/

# Python virtual environment
venv/

# Database
db.sqlite3

# Python cache
__pycache__/